@model IEnumerable<JouluAlytaloMVC.Models.Valo>

@{
    ViewBag.Title = "Valon tila";
}

<h2>Valojen kirkkaus</h2>

<p>
    @Html.ActionLink("Uusi asetus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ValonTila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValonMaara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Huone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValonTila)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValonMaara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Huone)
            </td>
            <td>
                @Html.ActionLink("Muokkaa", "Edit", new { id = item.ValoID }) |
                @Html.ActionLink("Tiedot", "Details", new { id = item.ValoID }) |
                @Html.ActionLink("Poista", "Delete", new { id = item.ValoID })
            </td>
        </tr>
    }
    
</table>
<p><a href="https://localhost:44319/" class="btn btn-primary btn-lg">Takaisin pääsivulle &raquo;</a></p>