@model IEnumerable<JouluAlytaloMVC.Models.Sauna>

@{
    ViewBag.Title = "Saunan tila";
}

<h2>Saunan lämpötila</h2>

<p>
    @Html.ActionLink("Uusi asetus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaunanTila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunanNykyLampotila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunanNimi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaunanTila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunanNykyLampotila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunanNimi)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.SaunaID }) |
            @Html.ActionLink("Tiedot", "Details", new { id=item.SaunaID }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.SaunaID })
        </td>
    </tr>
}

</table>
<p><a href="https://localhost:44319/" class="btn btn-primary btn-lg">Takaisin pääsivulle &raquo;</a></p>