@model IEnumerable<JouluAlytaloMVC.Models.Lampo>

@{
    ViewBag.Title = "Lämpötila";
}

<h2>Talon lämpötila</h2>

<p>
    @Html.ActionLink("Uusi asetus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TalonTavoiteLampo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TalonNykyLampo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TalonTavoiteLampo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TalonNykyLampo)
        </td>
        <td>
            @Html.ActionLink("Muokkaa", "Edit", new { id=item.LampoID }) |
            @Html.ActionLink("Tiedot", "Details", new { id=item.LampoID }) |
            @Html.ActionLink("Poista", "Delete", new { id=item.LampoID })
        </td>
    </tr>
}

</table>
<p><a href="https://localhost:44319/" class="btn btn-primary btn-lg">Takaisin pääsivulle &raquo;</a></p>